.canvas-wrapper {
  position: relative;
  z-index: 1;
}

canvas {
  position: relative;
  z-index: 10;
  user-select: none;
}

.levels-wrapper {
  transform: translate(-50%, -57px);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}

.levels {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 350ms ease-in-out;
}

.level {
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  font-size: 80px;
  transform: scale(0.5);
  transition: all 350ms ease-in-out;
  color: var(--text-color-reduced);
  pointer-events: none;
}

.level-active {
  transform: scale(1);
  color: var(--text-color);
}

.level-text {
  text-align: center;
  color: #fff;
  color: var(--text-color);
  font-size: 24px;
  pointer-events: none;
  width: 65%;
  margin: 0 auto;
}

@media (min-width: 780px) {
  .levels-wrapper {
    transform: translate(-50%, -100px);
  }

  .level {
    font-size: 160px;
  }

  .level-text {
    font-size: 40px;
  }
}
