.play-again {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 24px;
  z-index: 1;
  padding: 50px;
}

.play-again .title {
  color: var(--text-color);
  font-size: 80px;
  line-height: 0.6;
  margin-bottom: 40px;
}

.play-again .p1 {
  color: var(--text-neutral);
  margin-bottom: 20px;
}

.play-again .p2 {
  color: var(--text-color);
  margin-bottom: 40px;
}

@media (min-width: 780px) {
  .play-again {
    font-size: 26px;
  }

  .play-again .title {
    font-size: 134px;
    line-height: normal;
  }
}
